.technologies-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem 3rem;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    background-image: url("/background.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    min-height: 100vh; 
    justify-content: center;
    align-items: center;
}

.technologies-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.technologies-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); 
    justify-items: center; 
    gap: 1rem; 
    margin-bottom: 6rem;
    margin-left: 20rem;
    width: 100%; 
}


.technology-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.8rem;
    padding: 1.5rem;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    border: solid 1px grey;
    width: 100px;
}

.technology-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15);
}

.tech-icon {
    font-size: 2rem; /* Tamaño del ícono */
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 50%;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.technology-item:hover .tech-icon {
    transform: scale(1.1);
}

.tech-name {
    font-size: 1.1rem;
    color: #333;
    font-weight: 500;
    text-transform: capitalize;
}

/* Colores de las tecnologías */
.react-color { background-color: #61DAFB; } /* React */
.android-color { background-color: #3DDC84; } /* Android */
.css-color { background-color: #2965F1; } /* CSS */
.html-color { background-color: #F16529; } /* HTML */
.nodejs-color { background-color: #68A063; } /* Node.js */
.github-color { background-color: #333; } /* GitHub */
.database-color { background-color: #9B59B6; } /* Database */
.aws-color { background-color: #FF9900; } /* AWS */
.js-color { background-color: #F7DF1E; } /* JavaScript */
